@import url(../styles/variables.css);
@import url(../styles/mediaquery.css);
@import url(../styles/globalclasses.css);

* {
  margin: 0;
}

body {
  min-height: 200vh;
  transition: background-color 0.2s ease-in-out;
}
