@media only screen and (max-width: 600px) {
  .Iam-haroldP {
    font-size: 5rem;
  }
  .Iam-container {
    width: 80%;
  }
  .video-plat {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 7rem 0 0 0;
  }
  .video-plat-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .Iam-haroldP {
    font-size: 7rem;
  }
  .video-plat {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .video-plat-container {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .Iam-haroldP {
    font-size: 9rem;
  }
  .Iam-container {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
