/* xs */
@media only screen and (max-width: 600px) {
  .Iam-haroldP {
    font-size: 5rem;
  }
  .Iam-container {
    width: 80%;
  }
  .video-plat {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 7rem 0 0 0;
  }
  .video-plat-container {
    display: flex;
    justify-content: center;
  }
  .about-me-main-container {
    padding: 1rem;
    margin-top: 5rem;
  }
  .aboutme-image {
    width: 100%;
    margin: 0 0 4rem 0;
  }
  .aboutme-content {
    padding: 0;
    width: 100%;
  }
  .aboutme-content-h1 {
    font-size: 1.2rem;
  }
  .aboutme-content-p {
    font-size: 0.8rem;
  }
}

/* sm */
@media only screen and (min-width: 600px) {
  .Iam-haroldP {
    font-size: 7rem;
  }
  .video-plat {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .video-plat-container {
    display: block;
  }
}
/* md */
@media only screen and (min-width: 768px) {
  .Iam-haroldP {
    font-size: 9rem;
  }
  .Iam-container {
    width: 70%;
  }
  .about-me-main-container {
    padding: 2rem;
    margin-top: 10rem;
  }
  .aboutme-image {
    width: 93%;
  }
  .aboutme-content {
    padding: 0 0 0 3rem;
  }
  .aboutme-content-h1 {
    font-size: 1.5rem;
  }
  .aboutme-content-p {
    font-size: 0.9rem;
  }
}
/* lg */
@media only screen and (min-width: 992px) {
  .Iam-container {
    width: 50%;
  }
}
/* xl */
@media only screen and (min-width: 1200px) {
}
