@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  /* palletes */
  --dark-background: #222831;
  --light-background: white;
  --purple: #663eff;

  /* fonts */
  --cursive-font: "Shadows Into Light", cursive;
  --fat-font: "Lilita One", cursive;
  --prof-font: "Montserrat", sans-serif;
}
